<div class="container">
    <div class="searchWrapper">
        {{!-- <input type="text" name="searchBar" id="searchBar" placeholder="search for a group" /> --}}
    </div>

    {{#if error}}
        <p class="err-msg">{{this.error}}</p>
    {{else}}

    <div class="box">
        <h2>List of your groups</h2>
        <ul class="userList" id="user-list">
            {{#each groups}}
            <a href="/group/{{this.id}}">
                <li>{{this.name}}</li>
            </a>
            {{/each}}
        </ul>
    </div>
</div>
{{/if}}