<div class="card">
    <div class="card-image waves-effect waves-block waves-light" id="loginimage">
        <img class="activator" src="images/teaching.jpeg">
    </div>
    <div class="card-content">
        <span class="card-title activator grey-text text-darken-4 centre">Welcome, {{this.givenName}}
            <i class="material-icons right">more</i>
        </span>
        <p>
            <a href="/dashboard">Click Here to get started</a>
            {{!-- <a href="/auth/google">Click Here to get started</a> --}}
        </p>
    </div>
    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Shikhsha Application Login<i
                class="material-icons right">close</i></span>
        <p>Please use the application to reset password of students</p>
    </div>
</div>