<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!--
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
    <title>Shikhsha Admin Login</title>
</head>

<body>
    {{> _header}}
    <div class="resetpwd-container">
        <div class="resetbox">
            <h2>Reset Password</h2>
            <form action="/reset" method="POST" class="browser-default">
                <div class="form-group">
                    <label>Username: </label>
                    <input type="text" name="username" id="username" value={{this.memberEmail}} readonly />
                </div>
                <div class="form-group">
                    <label>Password: </label>
                    <input type="password" name="password" id="password" placeholder="Enter password" required />
                </div>
                <div class="form-group">
                    <label>Confirm Password: </label>
                    <input type="password" name="confPassword" id="confPassword" placeholder="Confirm password"
                        required />
                </div>
                <div class="confirmpwdbtn">
                    <input type="submit" value="Update Password" id="submit" disabled>
                </div>
            </form>
        </div>
    </div>
    <script>
        (function () {
            const passwordInput = document.getElementById('password')
            const confPasswordInput = document.getElementById('confPassword')
            const submitButton = document.getElementById('submit')

            const check = () => {
                if (passwordInput.value === confPasswordInput.value) {
                    submitButton.disabled = false
                } else {
                    submitButton.disabled = true
                }
            }
            passwordInput.onkeyup = check
            confPasswordInput.onkeyup = check
        })();
    </script>
</body>

</html>