<div class="container">
    <div class="searchWrapper">
        {{!-- <input type="text" name="searchBar" id="searchBar" placeholder="search for a user" /> --}}
    </div>
    <div class="member-container">
        <h2>Reset Password</h2>
        
    </div>
</div> 