
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

p {
  margin: 10px 0;
}

.login-container {
  width: 50rem;
  margin-top: 50px;
  text-align: center;
}

body {
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
    min-height: 100vh;
}


.searchWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    width: 100%;
    
}

.box {
    border-bottom: 20px solid #03a9f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.box h2 {
     color: #fff;
     background: #03a9f4;
     padding: 10px 20px;
     text-align: center;
     font-size: 20px;
     font-weight: 700;
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
}

.box ul {
     position: relative;
     background: #fff;
}

.box ul li {
    list-style: none;
    padding: 10px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}

.box ul:hover li {
    opacity: 0.2;
}

.box ul li:hover {
    transform: scale(1.1);
    z-index: 100;
    background: #25bcff;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 1;
    cursor: pointer;
}

nav li {
    list-style: none;
    padding: 4px;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    color: #222;
}

#navbar6 a{
  color:black;
}

.navbar button{
    height:32px;
    width:32px;
    top:2px;
    border-radius: 50%;
    display:block;
    position:relative;
    color:white;
    font-size:15px;
    background-color:#E2487D;
    cursor:pointer;
  }

.navbar  button:hover{
    height:32px;
    width:32px;
    border-radius: 50%;
    display:block;
    position:relative;
    color:white;
    background-color:#E2487D;
    cursor:pointer;
		box-shadow:  0 0 0 4px #F2F2F2;
    text-decoration: none;
}

.nav-item1 a:hover{
  text-decoration:underline;
}

#navbar6 .navbar-nav .nav-item1 .nav-link1{
    display:block;
    position:relative;
  top:-9px;
}

.accountButton:hover {
 text-decoration:none;
}

#buttons button{
  border-style:none;
  height:36px;
  background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
  color:#5F6368;
  font-family:arial,sans-serif;
  font-size:14px;
  margin:21px 4px;
  padding:0 16px;
  text-align:center;
}
#buttons button:hover{
  cursor:pointer;
}

